URI=your_neo4j_uri_here
AUTH_USERNAME=your_neo4j_username_here
AUTH_PASSWORD=your_neo4j_password_here
GROQ_API_KEY=your_groq_api_key_here

SECRET_KEY=your_secret_key_here
ALGORITHM=your_algorithm_here
ACCESS_TOKEN_EXPIRE_MINUTES=your_expire_minutes_here